/* You can add global styles to this file, and also import other style files */

$bgmaincolor: #000;

body {
  margin: 0;
}

#mainWrapper {
  background: $bgmaincolor;
  height: 100vh;
  padding-top: 1px;
}