
<div id="mindWrapper">

  <div class="internal-connections">
    <div class="connection left">

    </div>
    <div class="connection right">

    </div>
    <div class="connection bottom">

    </div>
  </div>

  <div class="circles">

    <div class="top-block circle">

      <div class="connection-extra">

      </div>

    </div>

    <div class="left-block circle">

      <div class="connection-extra">
        
      </div>

    </div>

    <div class="right-block circle">

      <div class="connection-extra">
        
      </div>

    </div>
    
  </div>

</div>